/* Fuente tipo pluma */
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

body {
  font-family: 'Satisfy', cursive;
  background-color: #dbc7b3; /* Color marrón claro */
  color: #000000; /* Color de letra negro */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  background-color: #f3ce69; /* Color beige */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 600px;
}

.image-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.image-top-left,
.image-bottom-right {
  width: 170px;
  height: 180px;
  border-radius: 10px;
}

.content {
  text-align: center;
  margin-bottom: 20px;
}

.footer {
  text-align: right;
  font-style: italic;
  margin-top: 20px;
}
.container {
  background-color: #f8e8c5;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 600px;
}

.image-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.image-top-left {
  width: 170px;
  height: 180px;
  border-radius: 10px;
}

.image-bottom-right {
  width: 160px;
  height: 170px;
  border-radius: 10px;
}

.content {
  text-align: center;
  margin-bottom: 20px;
}

.footer {
  text-align: right;
  font-style: italic;
  margin-top: 20px;
}